<a href="https://colab.research.google.com/github/fabrizionicolay/Big_Data/blob/main/Ejercicio1_Biga_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1 - Carga de archivo CSV desde Drive

In [2]:
import pandas as pd

In [3]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRyAsF1thWCw3xEJsw9K2Fg6P-nKDaYxwYK9kOfLKnjkV2AMoTZORNKjouNq-TxCsLDZ38ybGrO8VYM/pub?gid=2028458572&single=true&output=csv")

In [4]:
datos

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [7]:
#Obtenemos la suma total de la columna ingresos
suma_ingresos = datos['ingresos'].sum()
print("La suma de la columna ingresos es ", suma_ingresos)

La suma de la columna ingresos es  76180

In [10]:
#Obtenemos el promedio de las edades de las personas de la lista
promedio_edad = datos['edad'].mean()
print("Promedio de edad:", int(promedio_edad))

Promedio de edad: 31

In [18]:
# Suponiendo que tu DataFrame se llama df y la columna de ciudades es "ciudad"
personas_arequipa = "Arequipa"

datos_Arequipa = datos[datos['ciudad'] == personas_arequipa]

cant_person_aqp = datos_Arequipa.shape[0]
print(f"Número de personas que trabajan en {personas_arequipa}: {cant_person_aqp}")

Número de personas que trabajan en Arequipa: 5

In [21]:
personas_arequipa=datos[datos['ciudad']=="Arequipa"]
personas_arequipa

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [35]:
#Obtenemos el promedio de trabajadores en arequipa
personas_arequipa = datos[datos['ciudad'] == "Arequipa"]
personas_arequipa = personas_arequipa[["nombre", "ciudad"]]
print(personas_arequipa)

      nombre    ciudad
1      María  Arequipa
4      Pedro  Arequipa
10  Gabriela  Arequipa
15    Javier  Arequipa
21      José  Arequipa

In [38]:
# prompt: necesito saber el promedio de ingresos por ciudad, entero

import pandas as pd

# Load the data from the CSV file
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRyAsF1thWCw3xEJsw9K2Fg6P-nKDaYxwYK9kOfLKnjkV2AMoTZORNKjouNq-TxCsLDZ38ybGrO8VYM/pub?gid=2028458572&single=true&output=csv")

# Calculate the average income per city
average_income_by_city = datos.groupby('ciudad')['ingresos'].mean().astype(int)

# Print the average income per city
print(average_income_by_city)

ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [49]:
#Obtenemos la personas mas joven y mas mayor

persona_joven = datos.loc[datos['edad'] == datos['edad'].min(), ['nombre', 'edad']]
persona_mayor = datos.loc[datos['edad'] == datos['edad'].max(), ['nombre', 'edad']]

print("Persona mas Joven:", persona_joven.values[0])
print("Persona mas Mayor:", persona_mayor.values[0])

Persona mas Joven: ['Micaela' 21]
Persona mas Mayor: ['Leonel' 64]

In [55]:
#Obtenemos el total de trabajadores por ciudad
personas_ciudad = datos['ciudad'].value_counts()

print(personas_ciudad)

Lima        6
Arequipa    5
Trujillo    5
Cusco       4
Juliaca     2
Puno        1
Name: ciudad, dtype: int64

In [61]:
#Orden por edad de los personas
#datos.sort_values(by=['edad'], ascending=False)[['nombre', 'edad']]
datos.sort_values(by=['edad'], ascending=False)

       nombre  edad    ciudad  ingresos
5      Leonel    64   Juliaca      4980
22      Willy    55      Puno      1300
2        Luis    35     Cusco      4800
19    Ricardo    35      Lima      4400
21       José    34  Arequipa      4200
10   Gabriela    33  Arequipa      4000
15     Javier    32  Arequipa      5000
17     Manuel    31  Trujillo      2700
6       Laura    31      Lima      4200
14     Lorena    30      Lima      3800
0        Juan    30      Lima      2500
8       Sofía    29  Trujillo      2900
16    Daniela    29      Lima      2700
18   Fernanda    28     Cusco      2100
4       Pedro    28  Arequipa      3200
1       María    28  Arequipa      3800
9      Andrés    27      Lima      2600
13  Valentina    26  Trujillo      3500
7      Carlos    25     Cusco      1800
12      Diego    24     Cusco      3200
20      Lucía    23  Trujillo      1500
3         Ana    22  Trujillo      2000
11    Micaela    21   Juliaca      5000